if has nix; then
  # Launch nix-shell (with implied /shell.nix and dependencies)
  # and capture its environment variables, which will be
  # serialized and captured here by direnv.
  use nix
    # echo "do nothing"
fi

source octoprint/venv/bin/activate
