{# <input type="text" class="input-xxlarge" data-bind="value: newUrl"> #}
{# <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button> #}
{# This id doesn't matter, it's created and inserted invisibly by octoprint behind the scenes #}


{# <label for="auto_shutdown">Shutdown off after print is finished</label>
<input type="checkbox" id="auto_shutdown" name="vehicle1" value="true"> #}


{# <span class="label">Power Sate is: </span>
{# <span class="label" data-bind="text: power_state"></span> #}
{# does this need paranthesis? #}

{# <button type="button" class="btn btn-primary" data-bind="click: turn_on">Turn on</button> #}
{# <button type="button" class="btn btn-warning" data-bind="click: turn_off">Turn off</button> #}
{# <br/> #}
{# <span class="label">Conditional Power Off is: </span> #}

{# <span class="label" data-bind="text: is_conditional_power_off_enabled"></span> #}

{# <input type="text" class="input-xxlarge" data-bind="value: settings.settings.plugins.smart_pow.power_plug_state"> #}

{# <iframe data-bind="attr: {src: currentUrl}" style="width: 100%; height: 600px; border: 1px solid #808080"></iframe> #}





<br>

<div data-bind="if: settings.plugin.smart_pow.automatic_shutdown">
    <label>Wait till temperature drops</label>
    <input type="text" placeholder="30">
</div>
  <label class="checkbox">
        {# <input type="checkbox" data-bind="checked: settings.plugin.smart_pow.automatic_shutdown"> #}
        {# <input type="checkbox" checked/>Shutdown off after print is finished #}
        Automatically Shutdown
        <input type="checkbox" data-bind="checked: settings.plugins.smart_pow.automatic_shutdown">
        {# <label data-bind="value: settings.plugins.smart_pow.automatic_shutdown"> #}
    </label>



    <h4>Power Automation</h4>
    <div class="control-group">
        <label class="control-label" for="auto_shutdown_enabled">Automatically shutdown after print</label>
        <div class="controls">
            <input type="checkbox" id="auto_shutdown_enabled" data-bind="checked: settings.plugins.smart_pow.automatic_shutdown"/>
        </div>

    </div>

    <div class="control-group">
        <label class="control-label" for="auto_shutdown_temp_thresholds">Turn off after temperature falls below</label>
        <div class="controls">
            <input type="text" class="span2" id="auto_shutdown_temp_thresholds" data-bind="value: settings.plugins.smart_pow.automatic_shutdown_temp_threshold"/>
        </div>
    </div>
